{% extends "base.html" %}
{% block title %}中介信息{% endblock %}

{% block page_content %}
<div class="page-header">
<h1><strong>中介信息表</strong></h1>
<br>
</div>

<div class="filter" >
<div class="panel panel-default"  style="width: 100%;height: 100%">
    <div class="panel-heading" style="text-align: left;height: 45px">
        <div style="width: 45%;float: left">
        <strong>统计时间：</strong><input id="recommend_date" type="date" value="2017-07-10">&nbsp;&nbsp;&nbsp;<strong> 至： </strong><input id="recommend_date_end" type="date" value="2017-08-15">
        </div>

        <button class="btn btn-primary btn-sm" onclick="reload_recommend()" style="height: 27px">根据时间筛选</button>
        <div style="float: right">
            <strong>自定义表头</strong>
        </div>
        </div>
    </div>
    <div class="panel-body" style="height:100%;text-align: center;background: whitesmoke">

<table id="approve_info"  class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>日期</th>
            <th>门店</th>
            <th>新增中介</th>
            <th>中介数量</th>
            <th>中介推荐单量</th>
            <th>中介推荐金额</th>
            <th>中介费用</th>
            <th>逾期单量</th>
            <th>逾期金额</th>
            <th>外催单量</th>
            <th>外催金额</th>
            <th>本金回款率</th>
        </tr>
    </thead>
</table>

    </div>
</div>

{% endblock %}


{% block style %}
{{ super() }}
{#    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">#}
    <link rel="stylesheet" type="text/css" href="../static/media/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/media/css/dataTables.bootstrap.css">

{% endblock %}

{% block scripts %}
{{ super() }}
    <!-- jQuery-->
    <script type="text/javascript" charset="UTF-8" src="../static/media/js/jquery.js"></script>
<!-- Datatables-->
    <script type="text/javascript" charset="utf8" src="../static/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/media/js/dataTables.bootstrap.js"></script>
    <!--<script type="text/javascript" charset="UTF-8" src="../static/tables/test/js/test.js"></script>-->

<script>
    var date_info={
      'date':  $("#recommend_date").val(),
      'end_date':$("#recommend_date_end").val()
    };

    var approve_detail = $('#approve_info').DataTable(
            {   "paging": true,
             "lengthChange": true,
             "searching": true,
             "info": true,
             "destroy":true,
             "processing":true,
             "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
             // set the initial value
             "pageLength": 10,
              // set first column as a default sort by asc
             //当处理大数据时，延迟渲染数据，有效提高Datatables处理能力
                "createdRow": function (row, data, index) {
                /* 设置表格中的内容居中 */
                $('td', row).attr("class", "text-center");
            },
             "deferRender": true,
                "ajax":{
                 url:"{{ url_for('main.recommend_data') }}",
                    type:"POST",
                    data:date_info,
                    dataType:'json',
                 dataSrc:
                         function(data){
                           return data;
                         }
               },
                "columns": [
                              { "sWidth": "9%","class":'text-center','data':'date'},
                                { "sWidth": "7%","class":'text-center','data':'data_name'},
                              { "sWidth": "7%","class":'text-center','data':'recommend_num_new' },
                              { "sWidth": "7%","class":'text-center','data':'recommend_num_entire' },
                              { "sWidth": "7%","class":'text-center','data':'recommend' },
                              { "sWidth": "7%","class":'text-center','data':'recommend_amount' },
                                { "sWidth": "8%","class":'text-center','data':'recommend_fee'},
                                { "sWidth": "8%","class":'text-center','data':'overtime_num'},
                                { "sWidth": "7%","class":'text-center','data':'overtime_amount'},
                                { "sWidth": "7%","class":'text-center','data':'waicui_num'},
                                { "sWidth": "7%","class":'text-center','data':'waicui_amount'},
                                { "sWidth": "8%","class":'text-center','data':'principal_rate'}],
                "pagingType":   "full_numbers",
                "oLanguage":    //DataTable中文化 把提示语之类的换成中文
                            {
                             "sProcessing": "正在加载中......",
                             "sLengthMenu": "每页显示 _MENU_ 条记录",
                             "sZeroRecords": "对不起，查询不到相关数据！",
                             "sEmptyTable": "表中无数据存在！",
                             "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                             "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
                             "sSearch": "搜索：",
                             "oPaginate": {
                                 "sFirst": "首页",
                                 "sPrevious": "上一页",
                                 "sNext": "下一页",
                                 "sLast": "末页"}}
            }
        );

    function reload_recommend() {
        var date_info_new={
      'date':  $("#recommend_date").val(),
      'end_date':$("#recommend_date_end").val()
    };

    var approve_detail = $('#approve_info').DataTable(
            {   "paging": true,
             "lengthChange": true,
             "searching": true,
             "info": true,
             "destroy":true,
             "processing":true,
             "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
             // set the initial value
             "pageLength": 10,
              // set first column as a default sort by asc
             //当处理大数据时，延迟渲染数据，有效提高Datatables处理能力
                "createdRow": function (row, data, index) {
                /* 设置表格中的内容居中 */
                $('td', row).attr("class", "text-center");
            },
             "deferRender": true,
                "ajax":{
                 url:"{{ url_for('main.recommend_data') }}",
                    type:"POST",
                    data:date_info_new,
                    dataType:'json',
                 dataSrc:
                         function(data){
                           return data;
                         }
               },
                "columns": [
                              { "sWidth": "9%","class":'text-center','data':'date'},
                                { "sWidth": "7%","class":'text-center','data':'data_name'},
                              { "sWidth": "7%","class":'text-center','data':'recommend_num_new' },
                              { "sWidth": "7%","class":'text-center','data':'recommend_num_entire' },
                              { "sWidth": "7%","class":'text-center','data':'recommend' },
                              { "sWidth": "7%","class":'text-center','data':'recommend_amount' },
                                { "sWidth": "8%","class":'text-center','data':'recommend_fee'},
                                { "sWidth": "8%","class":'text-center','data':'overtime_num'},
                                { "sWidth": "7%","class":'text-center','data':'overtime_amount'},
                                { "sWidth": "7%","class":'text-center','data':'waicui_num'},
                                { "sWidth": "7%","class":'text-center','data':'waicui_amount'},
                                { "sWidth": "8%","class":'text-center','data':'principal_rate'}],
                "pagingType":   "full_numbers",
                "oLanguage":    //DataTable中文化 把提示语之类的换成中文
                            {
                             "sProcessing": "正在加载中......",
                             "sLengthMenu": "每页显示 _MENU_ 条记录",
                             "sZeroRecords": "对不起，查询不到相关数据！",
                             "sEmptyTable": "表中无数据存在！",
                             "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                             "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
                             "sSearch": "搜索：",
                             "oPaginate": {
                                 "sFirst": "首页",
                                 "sPrevious": "上一页",
                                 "sNext": "下一页",
                                 "sLast": "末页"}}
            }
        );
    }
</script>
{% endblock %}