{% extends "base.html" %}
{% block title %}业务员信息{% endblock %}

{% block page_content %}
<div class="page-header">
<h1><strong>业务员信息表</strong></h1>
    <br>
</div>


    <div class="filter" >
<div class="panel panel-default"  style="width: 100%;height: 100%">
    <div class="panel-heading" style="text-align: left;height: 45px">
        <div style="width: 45%;float: left">
        <strong>统计时间：</strong><input id="saler_date" type="date" value="2017-07-10">&nbsp;&nbsp;&nbsp;<strong> 至： </strong><input id="saler_date_end" type="date" value="2017-08-15">
        </div>
        <div style="width: 20%;float: left">
            <strong>门店：</strong>
            <select style="height: 25px" id="shop_id">
                <option value="0">全部门店</option>
                {% for shop_id in shop_list %}
                <option value="{{ shop_id }}">{{ shop_list[shop_id] }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary btn-sm" onclick="reload_apply()" style="height: 27px">筛选</button>
        <div style="float: right">
            <strong>自定义表头</strong>
        </div>
        </div>
    </div>
    <div class="panel-body" style="height:100%;text-align: center;background: whitesmoke">

<table id="saler_info"  class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>日期</th>
            <th>业务员</th>
            <th>所在门店</th>
            <th>进件量</th>
            <th>风控批件量</th>
            <th>复审批件量</th>
            <th>风控拒单率</th>
            <th>审批通过率</th>
            <th>信息不全退单量</th>
            <th>退单修改率</th>
            <th>外催单量</th>
            <th>外催金额</th>
        </tr>
    </thead>
</table>

    </div>
</div>

{% endblock %}

{% block style %}
{{ super() }}
{#    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">#}
    <link rel="stylesheet" type="text/css" href="../static/media/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/media/css/dataTables.bootstrap.css">

{% endblock %}

{% block scripts %}
{{ super() }}
    <!-- jQuery-->
    <script type="text/javascript" charset="UTF-8" src="../static/media/js/jquery.js"></script>
<!-- Datatables-->
    <script type="text/javascript" charset="utf8" src="../static/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/media/js/dataTables.bootstrap.js"></script>
    <!--<script type="text/javascript" charset="UTF-8" src="../static/tables/test/js/test.js"></script>-->
<script>
   var date = {
        'date':$("#saler_date").val(),
        'end_date':$("#saler_date_end").val(),
        'shop_id':$("#shop_id").val()
    };

     var approve_detail = $('#saler_info').DataTable(
            {   "paging": true,
             "lengthChange": true,
             "searching": true,
             "info": true,
             "destroy":true,
             "processing":true,
             "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
             // set the initial value
             "pageLength": 10,
              // set first column as a default sort by asc
             //当处理大数据时，延迟渲染数据，有效提高Datatables处理能力
                "createdRow": function (row, data, index) {
                /* 设置表格中的内容居中 */
                $('td', row).attr("class", "text-center");
            },
             "deferRender": true,
                "ajax":{
                 url:"{{ url_for('main.saler_data') }}",
                    type:"POST",
                    data:date,
                    dataType:'json',
                 dataSrc:
                         function(data){
                           return data;
                         }
               },
                "columns": [
                              { "sWidth": "9%","class":'text-center','data':'date'},
                                { "sWidth": "7%","class":'text-center','data':'data_name'},
                                { "sWidth": "7%","class":'text-center','data':'shop_name'},
                              { "sWidth": "7%","class":'text-center','data':'jinjian' },
                              { "sWidth": "7%","class":'text-center','data':'apply_su_num' },
                              { "sWidth": "7%","class":'text-center','data':'approve_success_num' },
                              { "sWidth": "7%","class":'text-center','data':'approve_dely_rate' },
                                { "sWidth": "8%","class":'text-center','data':'approve_rate'},
                                { "sWidth": "8%","class":'text-center','data':'approve_retry'},
                                { "sWidth": "7%","class":'text-center','data':'approve_retry_rate'},
                                { "sWidth": "7%","class":'text-center','data':'waicui_num'},
                                { "sWidth": "7%","class":'text-center','data':'waicui_amount'}],
                "pagingType":   "full_numbers",
                "oLanguage":    //DataTable中文化 把提示语之类的换成中文
                            {
                             "sProcessing": "正在加载中......",
                             "sLengthMenu": "每页显示 _MENU_ 条记录",
                             "sZeroRecords": "对不起，查询不到相关数据！",
                             "sEmptyTable": "表中无数据存在！",
                             "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                             "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
                             "sSearch": "搜索：",
                             "oPaginate": {
                                 "sFirst": "首页",
                                 "sPrevious": "上一页",
                                 "sNext": "下一页",
                                 "sLast": "末页"}}
            }
        );

     function reload_apply() {
         var date_new = {
        'date':$("#saler_date").val(),
        'end_date':$("#saler_date_end").val(),
             'shop_id':$("#shop_id").val()
    };

     var approve_detail = $('#saler_info').DataTable(
            {   "paging": true,
             "lengthChange": true,
             "searching": true,
             "info": true,
             "destroy":true,
             "processing":true,
             "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
             // set the initial value
             "pageLength": 10,
              // set first column as a default sort by asc
             //当处理大数据时，延迟渲染数据，有效提高Datatables处理能力
                "createdRow": function (row, data, index) {
                /* 设置表格中的内容居中 */
                $('td', row).attr("class", "text-center");
            },
             "deferRender": true,
                "ajax":{
                 url:"{{ url_for('main.saler_data') }}",
                    type:"POST",
                    data:date_new,
                    dataType:'json',
                 dataSrc:
                         function(data){
                           return data;
                         }
               },
                "columns": [
                              { "sWidth": "9%","class":'text-center','data':'date'},
                                { "sWidth": "7%","class":'text-center','data':'data_name'},
                                { "sWidth": "7%","class":'text-center','data':'shop_name'},
                              { "sWidth": "7%","class":'text-center','data':'jinjian' },
                              { "sWidth": "7%","class":'text-center','data':'apply_su_num' },
                              { "sWidth": "7%","class":'text-center','data':'approve_success_num' },
                              { "sWidth": "7%","class":'text-center','data':'approve_dely_rate' },
                                { "sWidth": "8%","class":'text-center','data':'approve_rate'},
                                { "sWidth": "8%","class":'text-center','data':'approve_retry'},
                                { "sWidth": "7%","class":'text-center','data':'approve_retry_rate'},
                                { "sWidth": "7%","class":'text-center','data':'waicui_num'},
                                { "sWidth": "7%","class":'text-center','data':'waicui_amount'}],
                "pagingType":   "full_numbers",
                "oLanguage":    //DataTable中文化 把提示语之类的换成中文
                            {
                             "sProcessing": "正在加载中......",
                             "sLengthMenu": "每页显示 _MENU_ 条记录",
                             "sZeroRecords": "对不起，查询不到相关数据！",
                             "sEmptyTable": "表中无数据存在！",
                             "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                             "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
                             "sSearch": "搜索：",
                             "oPaginate": {
                                 "sFirst": "首页",
                                 "sPrevious": "上一页",
                                 "sNext": "下一页",
                                 "sLast": "末页"}}
            }
        );
     }

</script>
{% endblock %}